In [1]:
import pandas as pd

In [3]:
df=pd.read_json('train.json')

In [4]:
print(df)

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

## How big is the data

In [5]:
df.shape

(39774, 3)

## how does the data set look like

In [8]:
df.head(10)

      id      cuisine                                        ingredients
0  10259        greek  [romaine lettuce, black olives, grape tomatoes...
1  25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2  20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3  22213       indian                [water, vegetable oil, wheat, salt]
4  13162       indian  [black pepper, shallots, cornflour, cayenne pe...
5   6602     jamaican  [plain flour, sugar, butter, eggs, fresh ginge...
6  42779      spanish  [olive oil, salt, medium shrimp, pepper, garli...
7   3735      italian  [sugar, pistachio nuts, white almond bark, flo...
8  16903      mexican  [olive oil, purple onion, fresh pineapple, por...
9  12734      italian  [chopped tomatoes, fresh basil, garlic, extra-...

******if i want random samples**

In [9]:
df.sample(5)

          id   cuisine                                        ingredients
24022  14878   mexican  [green bell pepper, refried beans, chicken mea...
29117   5860  japanese  [parmesan cheese, salt, large eggs, zucchini, ...
1104   38783    indian  [curry leaves, water, purple onion, carrots, g...
5270   13402  moroccan  [yukon gold potatoes, minced garlic, salt, pep...
6714   36821  japanese           [rice vinegar, radishes, cucumber, salt]

### data type of cols###

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39774 entries, 0 to 39773
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           39774 non-null  int64
 1   cuisine      39774 non-null  object
 2   ingredients  39774 non-null  object
dtypes: int64(1), object(2)
memory usage: 932.3+ KB

## is there missing values

we can write a code to check

In [11]:
df.isnull().sum()

id             0
cuisine        0
ingredients    0
dtype: int64

## how does data looks matmatically

In [12]:
df.describe()

                 id
count  39774.000000
mean   24849.536959
std    14360.035505
min        0.000000
25%    12398.250000
50%    24887.000000
75%    37328.500000
max    49717.000000

In [19]:
print(type(df.duplicated().sum()))

TypeError: unhashable type: 'list'

In [21]:
df.corr(numeric_only=True)

     id
id  1.0